env/
venv/
.DS_Store/
data/combined_preprocessed.csv
data/combined_preprocessed_data.csv
data/imdb_preprocessed.csv
*.tar.gz
*.tar
data/sentiment140.csv
data/IMDB Dataset.csv
data/data.pkl
vectorizer_combined.joblib
vectorizer.joblib
data/vectorizer.pkl
vectorizer_imdb.joblib
data/sentiment_model.pkl
sentiment_model_imdb.joblib
sentiment_model_combined.joblib
sentiment_model.joblib
.env
